.page-home {
  display: flex;
  flex-direction: column;
  .home__hero {
    display: flex;
    padding: 15px;
    justify-content: center;
    margin: auto;
    width: 70%;
    img {
      height: 300px;
      margin-right: 30px;
    }
    @media only screen and (min-width: 1375px) and (max-width: 1530px) {
      position: fixed;
      width: calc(100% - 50px);
      margin: auto;
      padding-top: 0;
    }
  }
  .page-home__card {
    width: 100%;
    max-width: 400px;
  }
  .home__albums {
    padding-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    .album__container {
      display: flex;
      width: 100%;
      max-width: 500px;
    }
  }
  .home__player {
    position: fixed;
    bottom: 0;
    flex: 1;
    justify-content: center;
    padding-bottom: 15px;
    width: calc(100vw - 30px);
    audio {
      margin: auto;
    }
  }
}